# Ignore the build directories
build
plugin/*/build
test/*/build

# Ignore compiled Python files and shared object files
plugin/*/*.so
plugin/*/*/*.so
plugin/*/*/__pycache__

# Ignore egg-info directory
plugin/*/*.egg-info

# Ignore vscode workspace folder
.vscode
